@{
    ViewData["Title"] = "Calculator";
}

<!-- Heading -->
<h1>@ViewData["Title"]</h1>
<p>Use this calculator to help figure out how much I might charge!</p>

<!-- Input -->
<label for="hours">Hours</label>
<input id="hours" type="number"/>   
<p id="rate"></p>
<button id="calculateCharge">Calculate</button>

<!-- Output -->
<p id="charge"></p>