@{
    ViewData["Title"] = "Tanner Atkin Bagpipe Services";
}

<!-- Heading -->
<h1>@ViewData["Title"]</h1>
<p>Welcome to my website! Feel free to read more about me or use the calculator to figure out my rates.</p>

<!-- Page Info -->
<div id="container">
    <p>Hi. I'm Tanner and I've been playing the bagpipes for about 12 years. I started playing with my dad,
        honoring my Scottish heritage as my Grandma is from Scotland. I love to play and help others discover 
        the world of bagpipes, as a fairly uncommon instrument I love being able to share it with others. If you 
        would like to hire me for your next event please use the calculator to see my rates!</p>
    <img src="~/me.jpg" />
    <p>Currently, I play with the Salt Lake Scots, a non-profit bagpipe band based out of Salt Lake City, UT. 
        We play for many community events and gatherings, connecting with many others who share our passion for 
        Scotland and its music. My band also competes in many local competitions, so maybe you'll see me at the 
        Payson or Salt Lake highland games! In 2019 we travelled to Victoria, Canada and took 1st place in their 
        Grade V competition.</p>
    <img src="~/band.jpg" />
</div>
